

.final-step-container {
    position: relative;
    background-color: #1a2a3a; 
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.final-step-container h2,
.final-step-container h3,
.final-step-container p {
    color: white;
    margin-bottom: 10px;
}

.final-step-container textarea {
    width: 40%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #2d3748; 
    border-radius: 4px;
    background-color: #3e4e60; 
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
}

button {
    display: inline-flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #2d3748; 
    background-image: linear-gradient(110deg, #000103, 45%, #1e2631, 55%, #000103);
    background-size: 200% 100%;
    padding: 6px;
    font-weight: 500; 
    color: #718096; 
    transition: color 0.15s ease-in-out;
    animation: background-shine 2s linear infinite;
    width: 150px; 
    margin-top: 20px; 
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #718096; 
}

@keyframes background-shine {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -200% 0;
  }
}
